<% content_for :path do %><%=@blog ? 'blog/' : 'messages/' %>
<% end %>
<%if params[:to]
 a='?to='+params[:to] else a = '' end%>
<div id="mailbox">
<div id="mails">
  <% if !@blog %>
  <div class="mtabs">
    <% if logged_in? %>
      <div class="mtabgap">&nbsp;</div>
      <%=link_to 'new', '/messages', class: a.length==0?'active':''%>
        <div class="mtabgap">&nbsp;</div>
      <%=link_to 'old', '/messages/?to='+current_user.name, class: a.length>0 && current_user.name==params[:to] ? 'active':'' %>
    <% end %>
        <div class="mtabgap">&nbsp;</div>
    <%=link_to 'chat', '/messages/?to=The Chat', class: a.length>0 && logged_in? && current_user.name!=params[:to] ? 'active':'' %>
      <div class="mtabgap">&nbsp;</div>
  </div>
  <% end %>
  <% @messages.each do |message| %>
    <div class="maili">
      <b><%=link_to message.from, '/messages/'+message.id.to_s+a%></b>
      <span>
      <small>
        [<% if message.created_at < DateTime.now-1 %><%=space_time message.created_at.to_date%><% else %><%=message.created_at.to_time.to_s.split(' ')[1]%><% end %>]
      <br><b><%=message.subject.truncate(30)%></b>
          <%=message.body.truncate(30)%>
      </small></span>
    </div>
  <% end %>
</div>

<div id="mailbody">
<% if !@blog %>
  <span class="btn">
  <% if @fmessage %>
    <%=link_to 'reply', controller: 'messages', action: 'new',
      to: @fmessage.from,
        subject: 'RE: '+@fmessage.subject,
        body: sprintf(%{
----
from: %s
to: %s
date: %s
subject: %s
----
%s}, @fmessage.from, @fmessage.to, space_time(@fmessage.created_at.to_datetime), @fmessage.subject, @fmessage.body) %>
   <% end %>
  <%= link_to 'new message', '/messages/new'+a %>
  </span>
<% end %>
  <% if @fmessage %>
  <h3><small>from: </small><%=@fmessage.from%></h3>
  <h3><small>to: </small><%=@fmessage.to%></h3>
  <h3><small>date: </small><%=space_time @fmessage.created_at.to_datetime%></h3>
  <h2><%=@fmessage.subject%></h2>
  <p><% @fmessage.body.split("\n").map do |e| %>
      <%=e %>  <br/>
      <% end %>
    </p>
<hr>
    <% if logged_in? %>
      <% if @fmessage.token_id %>
      <table><tr><th style="text-align:left;">📎 token attached:</th></tr>
        <tr><td>&nbsp;<b><%=@fmessage.token.dname%></b></td></tr></table>
<%=form_with url:'/tokens/'+@fmessage.token_id.to_s, method: :patch do |f| %>
        <% if @fmessage.vod then t=current_user.tokens_map.filter {|t|t[1]and t[1]>=@fmessage.vod}%>
          <b>V.O.D.</b> Sender requests a token with at least
          <b><%=@fmessage.vod %><s>N</s></b><br>
          <%= t.length>0 ? f.select(:payment, t) : ''%><br>
        <% end %>
        <% if @fmessage.vod and t.length<1 %>
          You have no token with that much.
          <% else %>
        <%= f.submit "claim attached token"%>
        <% end %>
<% end %>
      <%end%>
      <% if a.length==0 %>
        <%= button_to 'mark old', '/messages/'+@fmessage.id.to_s, method: :patch %>
      <% elsif current_user.name==params[:to]%>
        <%= button_to 'mark new', '/messages/'+@fmessage.id.to_s, method: :patch %>
      <% end %>
    <% end %>
  <% else %>
  <h2>no messages</h2>
  <% end %>

</div>
</div>
<% content_for :js do %>
renderer.flyTo="moon";
<% end %>
