<% content_for :path do %><%='messages/' %>
<% end %>
<div id="mails">
  <% @messages.each do |message| %>
    <div class="maili">
    <%=link_to message.subject, '/messages/'+message.id.to_s%>
      <span><%=message.from%></span>
    </div>

  <% end %>
</div>

<div id="mailbody">
  <span class="btn">
  <% if @fmessage %>
    <%=link_to 'reply', controller: 'messages', action: 'new',
      to: @fmessage.from,
        subject: 'RE: '+@fmessage.subject,
        body: @fmessage.from + ' sent a message with subject ' + @fmessage.subject + ' on ' + (space_time @fmessage.created_at.to_datetime) +'. It said: '+@fmessage.body %>
   <% end %>
  <%=link_to 'new message', '/messages/new' %>
  </span>

  <% if @fmessage %>
  <h2><%=@fmessage.subject%></h2>
  <h3>from: <%=@fmessage.from%></h3>
  <p><% @fmessage.body.split("\n").map do |e| %>
      <%=e %>  <br/>
      <% end %>
    </p>
    <% if @fmessage.token_id %>
      <%=button_to "claim attached token", '/tokens/'+@fmessage.token_id.to_s,
       method: :patch  %>
      <%end%>
    <% else %>
  <h2>no messages</h2>
  <% end %>

</div>
