<h2>Write a Message</h2>
<%= form_for @message do |f| %>
  <%= f.label :to%><br>
  <%= f.text_field :to%><br>
  <%= f.label :subject%><br>
  <%= f.text_field :subject%><br>
  <%= f.label :body%><br>
  <%= f.text_area :body, size: "40x12" %><br>
  <%= f.submit 'Send Message' %>
<%end%>
