<pre id="splash">
CONNECTING...
-========================================================================-
  __    _   _______ _______ _______ __   __ __    _ ___ _______ __    _
 |  |  | | |       |       |       |  | |  |  |  | |   |   _   |  |  | |
 |   |_| | |    ___|    _  |_     _|  | |  |   |_| |   |  |_|  |   |_| |
 |       | |   |___|   |_| | |   | |  |_|  |       |   |       |       |
 |  _    | |    ___|    ___| |   | |       |  _    |   |       |  _    |
 | | |   | |   |___|   |     |   | |       | | |   |   |   _   | | |   |
 |_|  |__|.|_______|___|     |___| |_______|_|  |__|___|__| |__|_|  |__|
  _______   __   __ ______   _______ _______ _______ __   __
 |       | |  | |  |    _ | |  _    |   _   |  _    |  | |  |
 |    ___| |  | |  |   | || | |_|   |  |_|  | |_|   |  |_|  |
 |   |___  |  |_|  |   |_||_|       |       |       |       |
 |    ___| |       |    __  |  _   <|       |  _   <|_     _|
 |   |     |       |   |  | | |_|   |   _   | |_|   | |   |
 |___|    .|_______|___|  |_|_______|__| |__|_______| |___|
  _______   _______ ___   _ _______ __    _     _______ _______
 |       | |       |   | | |       |  |  | |   |       |       |
 |_     _| |   _   |   |_| |    ___|   |_| |   |   _   |    _  |
   |   |   |  | |  |      _|   |___|       |___|  | |  |   |_| |
   |   |   |  |_|  |     |_|    ___|  _    |___|  |_|  |    ___|
   |   |   |       |    _  |   |___| | |   |   |       |   |
   |___|  .|_______|___| |_|_______|_|  |__|   |_______|___|
 _______ _______ _______   _______ __   __ _______ _______ _______ __   __
|       |       |       | |       |  | |  |       |       |       |  |_|  |
|    _  |    ___|_     _| |  _____|  |_|  |  _____|_     _|    ___|       |
|   |_| |   |___  |   |   | |_____|       | |_____  |   | |   |___|       |
|    ___|    ___| |   |   |_____  |_     _|_____  | |   | |    ___|       |
|   |   |   |___  |   |    _____| | |   |  _____| | |   | |   |___| ||_|| |
|___|   |_______| |___|   |_______| |___| |_______| |___| |_______|_|   |_|

-==============================- ONLINE -=================================-
v0.0.5 - (C)opyleft 3000 and Never. No rights reserved. All works stolen.
By operating nftpets terminals you are agreeing to all terms and conditions
possibly imaginable including but not limited to manipulation of spacetime.
SERVER STATUS: FULLY OPERATIONAL        <%= DateTime.parse(space_time DateTime.now).rfc822 %>
</pre>

<span class="btn">
  <p>

    <% if logged_in? %>
      logged in as <b><%=current_user.name%></b><br><br>
      <%= link_to "go to mail", '/messages' %>
      <%= link_to "go to tokens", '/users/'+current_user.id.to_s %>
    <% else %>
      <%= link_to "start new", '/users/new' %>
      <%= link_to "continue", '/login' %>
    <% end %>
      <%= link_to "the blog", '/blog' %>
  </p>

</span>
<h2>🌟 Furbaby Showcase 🌟</h2>
<% f = Furbaby.where.not(created_at: DateTime.new).order(created_at: 'desc').take(5).shuffle.first %>
<%=render f%>
<% if f.token %>
  <p>🐾 (Part of <%=link_to f.token.user.name+"'s portfolio", '/users/'+f.token.user.id.to_s%>)</p>
<% elsif current_user %>
<!-- stray adoption -->
<% end %>
<br>
<% sq = Token.squeeze_data; sqe=Furbaby::EMOJI[Event.squeeze_on].take(3)%>
<% if sq.length>0 %>
<h2>🤏 The Squeeze: <%=sq[0][:emoji]%><%=sq[0][:word]%> v. <%= sq[1][:emoji]%><%=sq[1][:word]%></h2>
<p><%=sq[0][:word].capitalize%> traders are currently squeezing
  <%=sq[1][:word].capitalize%> traders with
  <%=sqe.join %>!</p>
<pre><%=sqe[0]%> -&gt; <%=sqe[2]%>       <%=sq[0][:emoji]%><%=sq[0][:word]
  %>: <%=sqe[sq[0][:squeeze].last[0]]
  %> (<%=sq[0][:squeeze].reverse.map{|e|e[1].to_s+sqe[e[0]]}.join ', '%>)
 \      \     <%=sq[1][:emoji]%><%=sq[1][:word]
 %>: <%=sqe[sq[1][:squeeze].last[0]] %> (<%=sq[1][:squeeze].reverse.map{|e|e[1].to_s+sqe[e[0]]}.join ', '%>)
  &lt;- <%=sqe[1]%> &lt;-     standing: <%
  if sq[0][:squeeze].last[0]==sq[1][:squeeze].last[0]%><%=sq.max_by{|e|e[:squeeze].last[1]}[:word]%> winning tie break<%
  elsif Token.beats?(sq[0][:squeeze].last[0],sq[1][:squeeze].last[0])%><%=sq[0][:word]%> winning<%
  else %><%=sq[1][:word]%> winning
  <% end %>

Trade cycle ends in: <%=Event.squeeze_time.strftime("%Mm:%Ss")  %>
</pre>
<small><b>Squeezin' what now?</b>
Traders elect a sub symbol by investing into furbabies with both the trade symbol
and their favored sub symbol. At the end of the trade cycle, the sub symbols
are chosen and the traders who elected the superior symbol wins. Tokens of the losing
symbol get half their value taken away and split amongst the winning tokens. If they elect
the same symbol, the biggest investment wins.</small>
<% end %>

<% syms = Token.trade_data %>
<pre>

                CURRENT VIBE MARKET CAPITALIZATION
-===================================================================-
  Symbol              ||  <% syms.each{|e| %><%=e[:emoji]%><%=e[:word]%><%= " "*(9-e[:word].to_s.length) %><%}%>
  Total Vibe Cap (N)  ||  <% syms.each{|e| %><%=e[:total]%><%= " "*(11-e[:total].to_s.length) %> <%}%>
---------------------------------------------------------------------<%vibing=syms.min{|a,b|a[:total]<=>b[:total]}[:word].upcase%>
Neptune is currently vibing with <%= vibing %>.
Petting a <%=vibing%> baby will generate double vibes.

  HISTORICAL DATA
<% Event.where(user_id:1,key:'total_sample').order(created_at:'desc').first(100).each do |e|
n=e.value.split(',').map{|v|v.to_f}
p=n.map{|v| v / n.inject(0){|a,b|a+b}}# pp * max_spaces
%>
<%=space_time e.created_at.to_datetime %> /// <%=e.value%><%s=0%>
<%p.each_with_index do |pp,i| ppp=(pp*59).ceil()
s+=ppp %>[<%ppp.times do%><%='-'%><%end %><%= s<=60 ? '-' : ''  %><%=syms[i][:emoji]%>]<% end %>
<% end %>

                   THE RECENT OPERATOR ACTIVITY FEED
-=====================================================================-
<% Event.where.not(user_id:1).order(created_at:'desc').first(100).each do |e| %>
<%=space_time e.created_at.to_datetime%> <%=e.user.name%> did '<%=e.key%>' to '<%=e.value%>'
<% end %>
</pre>
