<% syms = Token.trade_data %>
<pre id="splash">
CONNECTING...
-========================================================================-
  __    _   _______ _______ _______ __   __ __    _ ___ _______ __    _
 |  |  | | |       |       |       |  | |  |  |  | |   |   _   |  |  | |
 |   |_| | |    ___|    _  |_     _|  | |  |   |_| |   |  |_|  |   |_| |
 |       | |   |___|   |_| | |   | |  |_|  |       |   |       |       |
 |  _    | |    ___|    ___| |   | |       |  _    |   |       |  _    |
 | | |   | |   |___|   |     |   | |       | | |   |   |   _   | | |   |
 |_|  |__|.|_______|___|     |___| |_______|_|  |__|___|__| |__|_|  |__|
  _______   __   __ ______   _______ _______ _______ __   __
 |       | |  | |  |    _ | |  _    |   _   |  _    |  | |  |
 |    ___| |  | |  |   | || | |_|   |  |_|  | |_|   |  |_|  |
 |   |___  |  |_|  |   |_||_|       |       |       |       |
 |    ___| |       |    __  |  _   <|       |  _   <|_     _|
 |   |     |       |   |  | | |_|   |   _   | |_|   | |   |
 |___|    .|_______|___|  |_|_______|__| |__|_______| |___|
  _______   _______ ___   _ _______ __    _     _______ _______
 |       | |       |   | | |       |  |  | |   |       |       |
 |_     _| |   _   |   |_| |    ___|   |_| |   |   _   |    _  |
   |   |   |  | |  |      _|   |___|       |___|  | |  |   |_| |
   |   |   |  |_|  |     |_|    ___|  _    |___|  |_|  |    ___|
   |   |   |       |    _  |   |___| | |   |   |       |   |
   |___|  .|_______|___| |_|_______|_|  |__|   |_______|___|
 _______ _______ _______   _______ __   __ _______ _______ _______ __   __
|       |       |       | |       |  | |  |       |       |       |  |_|  |
|    _  |    ___|_     _| |  _____|  |_|  |  _____|_     _|    ___|       |
|   |_| |   |___  |   |   | |_____|       | |_____  |   | |   |___|       |
|    ___|    ___| |   |   |_____  |_     _|_____  | |   | |    ___|       |
|   |   |   |___  |   |    _____| | |   |  _____| | |   | |   |___| ||_|| |
|___|   |_______| |___|   |_______| |___| |_______| |___| |_______|_|   |_|

-==============================- ONLINE -=================================-
v0.0.2 - (C)opyleft 3000 and Never. No rights reserved. All works stolen.
By operating nftpets terminals you are agreeing to all terms and conditions
possibly imaginable including but not limited to manipulation of spacetime.
SERVER STATUS: FULLY OPERATIONAL        <%= DateTime.parse(space_time DateTime.now).rfc822 %>
</pre>

<span class="btn">
  <p>

    <% if logged_in? %>
      logged in as <b><%=current_user.name%></b>
      <%= link_to "go to mail", '/messages' %>
      <%= link_to "go to tokens", '/users/'+current_user.id.to_s %>
    <% else %>
      <%= link_to "start new", '/users/new' %>
      <%= link_to "continue", '/login' %>
    <% end %>
      <%= link_to "the blog", '/blog' %>
  </p>

</span>


<pre>
                CURRENT VIBE MARKET CAPITALIZATION
-===================================================================-
  Symbol                 ||     <% syms.each{|e| %><%=e[:emoji]%><%=e[:word]%>   /    <%}%>
  Total Vibe Cap (N)     ||      <% syms.each{|e| %><%=e[:total]%>    /      <%}%>
---------------------------------------------------------------------<%vibing=syms.min{|a,b|a[:total]<=>b[:total]}[:word].upcase%>
Neptune is currently vibing with <%= vibing %>.
Petting a <%=vibing%> baby will generate double vibes.

  HISTORICAL DATA
<% Event.where(user_id:1,key:'total_sample').order(created_at:'desc').first(100).each do |e|
n=e.value.split(',').map{|v|v.to_f}
p=n.map{|v| v / n.inject(0){|a,b|a+b}}# pp * max_spaces
%>
<%=space_time e.created_at.to_datetime %> /// <%=e.value%><%s=0%>
<%p.each_with_index do |pp,i| ppp=(pp*59).ceil()
s+=ppp %>[<%ppp.times do%><%='-'%><%end %><%= s<=60 ? '-' : ''  %><%=syms[i][:emoji]%>]<% end %>
<% end %>

                   THE RECENT OPERATOR ACTIVITY FEED
-=====================================================================-
<% Event.where.not(user_id:1).order(created_at:'desc').first(100).each do |e| %>
<%=space_time e.created_at.to_datetime%> <%=e.user.name%> did '<%=e.key%>' to '<%=e.value%>'
<% end %>
</pre>
