<% syms = Furbaby::TRADE_SYMS.entries.each_with_index.inject([]) do |a,(e,i)|
  a.push({word: e[0], emoji: e[1], total: Token.symbol_total(i)})
 end %>
<pre id="splash">
CONNECTING...
-========================================================================-
  __    _   _______ _______ _______ __   __ __    _ ___ _______ __    _
 |  |  | | |       |       |       |  | |  |  |  | |   |   _   |  |  | |
 |   |_| | |    ___|    _  |_     _|  | |  |   |_| |   |  |_|  |   |_| |
 |       | |   |___|   |_| | |   | |  |_|  |       |   |       |       |
 |  _    | |    ___|    ___| |   | |       |  _    |   |       |  _    |
 | | |   | |   |___|   |     |   | |       | | |   |   |   _   | | |   |
 |_|  |__|.|_______|___|     |___| |_______|_|  |__|___|__| |__|_|  |__|
  _______   __   __ ______   _______ _______ _______ __   __
 |       | |  | |  |    _ | |  _    |   _   |  _    |  | |  |
 |    ___| |  | |  |   | || | |_|   |  |_|  | |_|   |  |_|  |
 |   |___  |  |_|  |   |_||_|       |       |       |       |
 |    ___| |       |    __  |  _   <|       |  _   <|_     _|
 |   |     |       |   |  | | |_|   |   _   | |_|   | |   |
 |___|    .|_______|___|  |_|_______|__| |__|_______| |___|
  _______   _______ ___   _ _______ __    _     _______ _______
 |       | |       |   | | |       |  |  | |   |       |       |
 |_     _| |   _   |   |_| |    ___|   |_| |   |   _   |    _  |
   |   |   |  | |  |      _|   |___|       |___|  | |  |   |_| |
   |   |   |  |_|  |     |_|    ___|  _    |___|  |_|  |    ___|
   |   |   |       |    _  |   |___| | |   |   |       |   |
   |___|  .|_______|___| |_|_______|_|  |__|   |_______|___|
 _______ _______ _______   _______ __   __ _______ _______ _______ __   __
|       |       |       | |       |  | |  |       |       |       |  |_|  |
|    _  |    ___|_     _| |  _____|  |_|  |  _____|_     _|    ___|       |
|   |_| |   |___  |   |   | |_____|       | |_____  |   | |   |___|       |
|    ___|    ___| |   |   |_____  |_     _|_____  | |   | |    ___|       |
|   |   |   |___  |   |    _____| | |   |  _____| | |   | |   |___| ||_|| |
|___|   |_______| |___|   |_______| |___| |_______| |___| |_______|_|   |_|

-==============================- ONLINE -=================================-
v0.0.1 - (C)opyleft 3000 and Never. No rights reserved. All works stolen.
SERVER STATUS: FULLY OPERATIONAL        <%= DateTime.parse(space_time DateTime.now).rfc822 %>
</pre>

<span class="btn">
  <p>

    <% if logged_in? %>
      Currently logged in as <%=current_user.name%>
      <%= link_to "go to mail", '/messages' %>
    <% else %>
      <%= link_to "start new", '/users/new' %>
      <%= link_to "continue", '/login' %>
    <% end %>
  </p>

</span>


<pre>
                CURRENT VIBE MARKET CAPITALIZATION
-===================================================================-
  Symbol                 ||     <% syms.each{|e| %><%=e[:emoji]%><%=e[:word]%>   /    <%}%>
  Total Vibe Cap (N)     ||      <% syms.each{|e| %><%=e[:total]%>    /      <%}%>
---------------------------------------------------------------------<%vibing=syms.min{|a,b|a[:total]<=>b[:total]}[:word].upcase%>
Neptune is currently vibing with <%= vibing %>.
Petting a <%=vibing%> baby will generate double vibes.

  HISTORICAL DATA
<% Event.where(user_id:1,key:'total_sample').reverse.first(100).each do |e|
n=e.value.split(',').map{|v|v.to_f}
p=n.map{|v| v / n.inject(0){|a,b|a+b}}# pp * max_spaces
%>
<%=space_time e.created_at.to_datetime %> /// <%=e.value%>
<%p.each_with_index do |pp,i| %><%(pp*65.0).to_i.times do%><%='-'%><%end %><%=syms[i][:emoji]%>/<% end %>
<% end %>

                   THE RECENT OPERATOR ACTIVITY FEED
-=====================================================================-
<% Event.where.not(user_id:1).reverse.first(100).each do |e| %>
<%=space_time e.created_at.to_datetime%> <%=e.user.name%> did '<%=e.key%>' to '<%=e.value%>'
<% end %>
</pre>
<small>
<%=%x(top -l 1).first 10000%>
</small>
