<table>
  <thead>
      <tr><th colspan=3><h2><%=@furbaby.dname %></h2></th></tr>
  </thead>
  <tbody>
  <% if @furbaby.children.length>0 or @furbaby.parents.length>0 %>
  <tr>
    <td colspan=3>
        <table><tr>
        <% if @furbaby.parents.length>0 %><td style="text-align: right;"><small>
          <%@furbaby.parents.each_with_index{|e,i| l=@furbaby.parents.length%>
          <%=link_to e.dname, '/furbabies/'+e.id.to_s %> <%= render inline: i==0 ?  '─┐&nbsp;' : i<l-1 ? '─┤&nbsp;' : '─┴─' %><br>
          <%}%></small></td>
        <% end %>
            <th><h2><%=@furbaby.vocab[0]%></h2></th>
        <% if @furbaby.children.length>0 then l=@furbaby.children.length%>
        <td><small><%=l>1?'─┬─':'──'%><%@furbaby.children.each_with_index{|e,i| %>
      <%if i>0 and i<l-1 then %>&nbsp;├─<% elsif i!=0 %>&nbsp;└─ <% end %> <%=link_to e.dname, '/furbabies/'+e.id.to_s %><br>
    <%}%>
    </small></td>
    <% end %></tr></table>
    </td>
  </tr>
<% end %>
    <td rowspan=5>
         <%=@furbaby.description %><br>
      <small><%=@furbaby.dna.split(/(....)/).filter{|e|e[0]}.join('-') %></small></td>
    <tr>
     <th>rarity</th>
     <td><%= @furbaby.rarity %></td>
     </tr>
    <tr>
     <th>pheno</th>
     <td><%=@furbaby.pheno %></td>
    </tr>
    <tr>
     <th>birthday</th>
     <td><%=space_time @furbaby.created_at.to_datetime %><br><%= @furbaby.astro %></td>
     </tr>
</tbody>
</table>
