<% content_for :path do %><%='users/new' %>
<% end %>
<h2>Sign Up</h2>
<%= form_for @user do |f| %>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit %><br>or
    <span class="btn"><%=link_to 'Anonymous',
    'javascript:(function(){document.getElementById("user_password").value=Math.random();document.getElementById("user_name").value="anon"+(Math.random()+"").split(".")[1];document.getElementById("new_user").submit();})()' %></span><br>
<%end%>
