<% content_for :path do %><%='users/'+@user.id.to_s%>
<% end %>
<table>
  <tr><th>users/<%=@user.id %>:</th><td><%=@user.name%></td></tr>
  <tr><th>joined:</th><td> <%=space_time @user.created_at.to_datetime%> </td></tr>
 <tr><th>networth:</th><td><%=@user.networth%><s>N</s></td></tr>
</table>

<h2><%=@user.name%>'s tokens:</h2>
<table>
  <tr>
    <th>id</th><th>furbaby</th><th>rarity</th><th>vibes</th>
  </tr>
  <%@tokens.each do |t|%>
   <tr class="maili">
    <td>
     <%=link_to t.id.to_s, '/tokens/'+t.id.to_s %>
    </td>
    <td>
      <%if t.furbaby_id %>
       <%=t.furbaby.dname%>
      <%else%>
       None.
       <% if current_user and current_user.id==t.user_id %>
        <%=link_to 'Find one', '/tokens/'+t.id.to_s %>
       <% end %>
      <%end%></td>
    <td>
      <%if t.furbaby_id and !t.furbaby.egg? %>
        <%= t.furbaby.rarity %>

      <% end %>
    </td>
    <td><%=t.vibes.to_s%><s>N</s></td>
   </tr>
  <%end%>
</table>
<% if @user.id == current_user.id  %>
 <%= form_with model: Token do |f|%>
   <%= f.submit "mint token" %>
 <%end%>

<h5><i>This is your page.</i></h5>
<% end %>
