<h2> <%=@user.name%> </h2>
<table>
  <tr><th>joined:</th><td> <%=@user.created_at.strftime('%m/%d/%Y')%> </td></tr>
 <tr><th>uid:</th><td> <%=@user.id %></td></tr>
</table>

<h3>tokens</h3>
<table>
  <tr>
    <th>tid</th><th>furbaby</th><th>vibes</th>
  </tr>
  <%@tokens.each do |t|%>
   <tr>
    <td><%=t.id%></td>
    <td>
      <%if t.furbaby_id %>
      <%else%>
      none
      <%end%></td>
    <td><%=t.vibes.to_s%></td>
   </tr>
  <%end%>
</table>
<% if @user.id == current_user.id  %>
 <%= form_with model: Token do |f|%>
   <%= f.submit "mint token" %>
 <%end%>
 <%= link_to 'stray furbabies', '/furbabies' %>
<h5><i>This is you.</i></h5>
<% end %>
