<% content_for :path do %><%=link_to 'users','/users' %>/ <%=@user.id.to_s%>
<% end %>
<table>
  <tr><th>operator</th><th>since</th><th>cpu</th><th>holdings</th><th>networth</th></tr>
  <tr>
    <td><b><%=@user.name%><%if current_user and @user.id==current_user.id%> (you)<% end %><b></td>
    <td> <%=space_time @user.created_at.to_datetime %> </td>
    <td> <%=render inline: ['<b class="good">New</b>',
      '<b class="ok">Dented</b>',
      '<b class="warn">Smoking</b>',
      '<b class="bad">Fried</b>' ][@user.damage?] %> </td>
      <td>
        <% @user.holdings.each do |h| %>
        <%=h[0]%><%=h[1]%><s>N</s>
        <% end %>
      </td>
    <td><b><%=@user.networth%><s>N</s></b></td>
  </tr>
</table>

  <%s = @user.holdings.inject(0){|a,b|a+b[1]}%>
  <% if s > 0 %>
  <table>
    <tr>
  <%@user.holdings.each do |h| %>
  <% if h[1] > 0 %>
  <th style="width:<%=((h[1].to_f/s)*100).to_s%>%">
    <%=h[0]%>
    </th>
    <% end %>
  <% end %>
  </tr>
    <tr>
  <%@user.holdings.each do |h| %>
  <% if h[1] > 0 %>
  <td style="text-align:center">
  <%=((h[1].to_f/s)*100).round(1).to_s%>%
    </td>
  <% end %>
  <% end %>
  </tr>
  </table>
  <% end %>
<% if current_user and @user.id != current_user.id %>
<span class="btn">
  <%=link_to 'send message', controller: 'messages', action: 'new',
      to: @user.name,
      subject: 'RE: Your Portfolio',
      body: sprintf(%{Dear %s,

I was just admiring your portfolio and thought I'd tell you about it. :)

Your friend,
%s}, @user.name, current_user.name) %>
 <% end %>
 </span>

<% if @token %>
<%=render @token %>
<% elsif @user.id==current_user.id %>
<p>
  This is your page and you have no tokens. Did you check your <%=link_to 'mail','/messages'%>?
  </p>
<% end %>
<table>
  <tr>
    <th>token</th><th>furbaby</th><th>rarity</th><th>vibes</th>
  </tr>
  <%@tokens.order(created_at:'desc').each do |t| f=t.furbaby%>
   <tr class="maili">
    <td>
     <%=link_to t.id.to_s, '/tokens/'+t.id.to_s %>
    </td>
    <td>
      <%if f %>
       <%=f.dname%>
      <%else%>
       None.
       <% if current_user and current_user.id==t.user_id %>
        <%=link_to 'Find one', '/tokens/'+t.id.to_s %>
       <% end %>
      <%end%></td>
    <td>
      <%if f and !f.egg? %>
        <%= f.rarity %>

      <% end %>
    </td>
    <td><%=t.vibes? %><s>N</s></td>
   </tr>
  <%end%>
</table>
