<% content_for :path do %><%=link_to 'tokens/','/tokens'%><%=@token.id.to_s%><% end %>
<table>
  <tr>
  <th>furbaby#</th>
  <th>operator</th>
   <th>vibes</th></tr>
  <tr>
  <td><%=@token.furbaby_id or 'none'%></td>
  <td>
  <%=link_to @token.user.name, '/users/'+@token.user_id.to_s%></td>
  <td><%=@token.vibes?%><s>N</s></td></tr>
</table>
<br>
<% if current_user and @furbaby %>
<% if @token.vibing? %> <b class="warn">Vibing! Pets worth 2<s>N</s>!</b><br><% end %>
<span class="btn">
<%=button_to 'ðŸ‘‹ Pet', '/tokens/'+@token.id.to_s, method: :patch%>
<% if current_user.id==@token.user_id and !@furbaby.name %>
<%=button_to 'ðŸ“ Name', '/furbabies/'+@furbaby.id.to_s+'/edit', method: :get%>
<% end %>
<% if current_user.id==@token.user_id and @furbaby.heat? and current_user.empty_token %>
<%=button_to "ðŸ¥š Egg!", '/tokens/'+current_user.empty_token.id.to_s+'?furbaby='+@furbaby.id.to_s, method: :patch%>
<small>
  <%=@furbaby.vocab[0]%> will lay an egg on one of your onoccupied tokens.</small>
<% end %>
<% if current_user.id==@token.user_id and @furbaby.stud? and current_user.egg? %>
<%=button_to "ðŸ£ Hatch", '/tokens/'+current_user.egg.id.to_s+'?furbaby='+@furbaby.id.to_s, method: :patch%>
<small><%=@furbaby.vocab[0]%> will hatch an egg on your other token.</small>
<% end %>
<% if current_user.id==@token.user_id and @furbaby.mutant? and current_user.egg? %>
<%=button_to "ðŸ§¬ Inject", '/tokens/'+current_user.egg.id.to_s+'?furbaby='+@furbaby.id.to_s, method: :patch%>
<small><%=@furbaby.vocab[0]%> will inject dna into an egg on your other token.</small>
<% end %>
<% if current_user.id==@token.user_id and @furbaby.radiated? and current_user.empty_token %>
<%=button_to "ðŸ’ž Fission", '/tokens/'+current_user.empty_token.id.to_s+'?furbaby='+@furbaby.id.to_s, method: :patch%>
<small><%=@furbaby.vocab[0]%> will split into two furbabies.</small>
<% end %>
<% if current_user.id==@token.user_id and @furbaby.dump? and current_user.furbabies.length>1 %>
<%=button_to "ðŸ—‘ Dump", '/tokens/'+current_user.furbabies.shuffle.first.token.id.to_s+'?furbaby='+@furbaby.id.to_s, method: :patch%>
<small><%=@furbaby.vocab[0]%> will dump dna randomly and then mutate.</small>
<% end %>
</span>
<% end %>

<% if @furbaby %>
<h3>This token's furbaby:</h3>
<%= render @furbaby %>
<% end %>
<% if @egg %>
<h2>This is an egg.</h2>
<% end %>
<% if current_user and current_user.id==@token.user_id and !@token.furbaby_id %>
 <h2>Adopt a Furbaby!</h2>
 <p>You can use this unoccupied token to adopt a stray a furbaby and save it
   from a terrible fate.</p>
 <h3>Look for a furbaby trading under this symbol:</h3>
<p>
 <span class="btn">
   <%
Furbaby::TRADE_SYMS.entries.each do |k,v|
   %>
 <%= link_to v+k.to_s, controller: 'furbabies', action: 'new',
    token_id: @token.id, symbol: k %>
  <% end %>
 </span>
 </p>
<% end %>

<% if current_user and @furbaby and current_user.id==@token.user_id %>
<%=button_to "ðŸ˜¿ Release", '/tokens/'+@token.id.to_s, method: :delete%>
<% end %>

<script type="module">
<% if @furbaby %>
renderer.flyTo="cat";
<% elsif @egg %>
renderer.flyTo="egg";
<% else %>
  renderer.flyTo="coin";
<% end %>
<% if params[:pet]=="true" %>
 renderer.flyTo="hand";
<%end %>
</script>
