<!DOCTYPE html>
<html>
<head>
  <title>nftpets</title>
  <meta name="description" content="Neptunian Furbaby Token-Operated Pet System, N.F.T. Pets: Collect, breed, trade and pet virtual furbabies with free digital token currency game in a cyberpunk dystopian future.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if params[:e]=="0" then session.delete(:e) end %>
  <% if params[:bg]=="0" then session.delete(:bg) end %>

  <% if params[:bg]=="1" or session[:bg]=="1" %>
  <script type="module">window.wompy=window.clicky=window.beepy=()=>{}</script>
  <% session[:bg]="1" %>
  <% else %>
  <%= render 'threedee' %>
  <script type="module" src="<%=javascript_url 'app' %>"></script>
  <% end %>

</head>
<body>
  <div id="box">
    <div id="win">
      <div id="bar">
        <div class="login">
          <% if logged_in? %>
          <% current_user.damage?.times do |e| %>
          ❌
          <% end %>
          <%=link_to current_user.name, '/users/'+current_user.id.to_s %>:<%=current_user.networth.to_s %><s>N</s>
          | <%= link_to "mail", '/messages/'%>:<%=current_user.messages.length.to_s%>
          | <%= link_to "logout", '/logout'%>
          <% else %>
          <%= link_to "login", '/login' %> /
          <%= link_to "sign up", '/users/new' %>
          <%end%>
          <br>
          <%=space_time DateTime.now %>
          <% if !session[:e] %>
          <%= link_to "emoji?", '?e=1', method: :get %>
          <% else %>
          <%= link_to "emoji!", '?e=0', method: :get %>
          <% end %>
          <% if !session[:bg] %>
          <%= link_to "bg?", '?bg=1', method: :get %>
          <% else %>
          <%= link_to "bg!", '?bg=0', method: :get %>
          <% end %>
        </div>
        <h1><%= link_to "@nftpets/", '/' %> <%= yield :path %></h1>
      </div>

      <div id="winb">
        <% if flash.alert %>
        <div id="alert"><%=flash.alert %></div>
        <% end %>
        <% if flash.notice %>
        <div id="notice"><%=flash.notice %></div>
        <% end %>
        <%= yield %>
        <br>
        <div id="foot">
          <a href="http://happyfeels.company">
            Neptunian Furbaby Token-Operated Pet System is made possible by a grant from
            The Society to Protect Neptunian Furbabies and by contributions from users like you.
          </a>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    if (window.renderer) {
      window.renderer.setSize( window.innerWidth, window.innerHeight );
      document.body.appendChild( window.renderer.domElement );
      renderer.flyTo="origin";
      <%= yield :js %>
    }
  </script>
  <% if params[:e]=="1" or session[:e]=="1" %>
  <% session[:e]="1" %>
  <%=javascript_include_tag "https://twemoji.maxcdn.com/v/latest/twemoji.min.js"%>
  <script>
    window.addEventListener("turbolinks:load", function(){
      twemoji.parse(document.body);});
    </script>
    <% end %>
    <script type="module">
      var mi=document.getElementsByClassName('maili');
      for (var i=0; i<mi.length; i++) {
        mi[i].onclick = (function(e){
          e=this.children[0];
          while(e!==undefined){
            e.click();
            e=e.children[0];
          }
        });
      }

      <% if current_user %>
      var sec = <%=(current_user.how_hot*10).to_s %>;
      var b = document.body;
      if (sec>0) {
        var w = document.getElementById('win');
        b.style.animationDuration=sec+"s";
        w.style.animationDuration=sec+"s";
        b.classList.add("huey");
        w.classList.add("blurry");
      }
      if (document.getElementById('alert')) {
        window.wompy();
        b.classList.add("shakey");
        setTimeout(function(){
          b.classList.remove("shakey");
        },350);
      }
      <% end %>
    </script>
  </body>
  </html>
