<!DOCTYPE html>
<html>
  <head>
    <title>nftpets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="login">
  <% if logged_in? %>

  logged in
      as
      <%= link_to current_user.name, '/users/'+current_user.id.to_s %>
      / <%= link_to "logout", '/logout'%>
  <% else %>
    <%= link_to "login", '/login' %>
    <%= link_to "sign up", '/users/new' %>
  <%end%>
  </div>
  <h1>nftpets<sub><%= link_to "/", '/' %></sub></h1>


    <%= yield %>
  </body>
</html>
